{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Login Page</title>

</head>

<body>
<a href="{% url 'home:register' %}" class="register-button">Register</a>
<div class="row mt-5">
    <div class="col-12 col-md-6 mx-md-auto">
        {% if messages %}
        <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
</ul>
{% endif %}  
    </div>
</div>

<div class="container" id="container">
    <div class="form-container more-info">
        <form id="moreInfoForm" method="post">
            {% csrf_token %}
            <input type="text" name="name" id="name" placeholder="User Name">
            <div class="password-container">
                <input type="password" name="password" id="password" placeholder="Password">
                <span class="toggle-password" onclick="togglePassword()">👁️</span>
            </div>

                <button class="done-button" type="submit" id="done" style="margin-top: 25px;">Done</button>
            </form>
        </div>
    <div class="form-container sign-in">
        
<form id="signInForm" method="post">
    {% csrf_token %}
    <input type="text" name="project" id="project" placeholder="Project" required>
    <input type="text" name="factory" id="factory" placeholder="Factory" required>
    <input type="text" name="line" id="line" placeholder="Line" required>
    <input type="text" name="product" id="product" placeholder="Product" required>
    <label for="location" class="form-label" style="font-size: 15px; margin-top: 10px;">Choose your location from the list:</label>
        <select class="form-select form-select-lg" id="location" name="location" required>
            <option>Plant</option>
            <option>Pilot Plant</option>
        </select>
</form>
</div>
    <div class="toggle-container">
        <div class="toggle">
            <div class="toggle-panel toggle-left">
                <h2>Enter the required details</h2>
                <button class="hidden" id="back" type="button">Back</button>
            </div>
            <div class="toggle-panel toggle-right">
                <h1>Hello, Friend!</h1>
                <p>Enter your personal details to use all the site features</p>
                <button class="hidden" id="next" type="button">Next</button>
            </div>
        </div>
    </div>
</div>

<script>
    const container = document.getElementById('container');
    const nextBtn = document.getElementById('next');
    const doneBtn = document.getElementById('done');
    const backBtn = document.getElementById('back');
    const moreInfoForm = document.getElementById('moreInfoForm');
    const signInForm = document.getElementById('signInForm');

    nextBtn.addEventListener('click', () => {
        container.classList.add("active");
    });
    backBtn.addEventListener('click', () => {
        container.classList.remove("active");
    });


    document.addEventListener('DOMContentLoaded', () => {
        nextBtn.addEventListener('click', () => {
            var project = document.getElementById("project").value;
            var factory = document.getElementById("factory").value;
            var line = document.getElementById("line").value;
            var product = document.getElementById("product").value;
            var location = document.getElementById("location").value;
            const newValue = [project, factory, line, product, location].join(',');
            updateSessionVariable(newValue);
        });
    });

    function updateSessionVariable(newValue) {
            fetch('/update-session/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'X-CSRFToken': getCookie('csrftoken')
                },
                body: `new_value=${newValue}`
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    console.log('Session variable updated successfully');
                } else {
                    console.error('Error updating session variable:', data.message);
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }


    function togglePassword() {
            var passwordField = document.getElementById('password');
            var passwordFieldType = passwordField.getAttribute('type');
            if (passwordFieldType === 'password') {
                passwordField.setAttribute('type', 'text');
            } else {
                passwordField.setAttribute('type', 'password');
            }
        }
</script>
</body>
</html>

