Django~=5.0.6
openpyxl~=3.1.5
Django-import-export~=4.1.0
pandas~=2.1.1
reportlab~=4.2.2
Brotli==1.1.0
whitenoise==6.7.0
gunicorn==22.0.0
h11==0.14.0
uvicorn==0.30.5
python-decouple==3.8
dj-database-url==2.2.0
psycopg2==2.9.9
