{% extends 'tg_couchman/base.html' %}


{% block content %}

<div row="mt-5" style="padding: 50px;"></div>
    <div class="col-12 col-md-6 mx-md-auto">
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        
        <div id="myPlot"></div>
        <script>
            var exp = "-16.096*x + 92.853";

            // Generate values
            var xValues = [];
            var yValues = [];
            for (let x = 0; x <= 6; x += 1) {
            yValues.push(eval(exp));
            xValues.push(x);
            };

            // Define Data
            var trace1 = {
                x: [0, 1, 2, 3, 4, 5, 6],
                y: graph_yvalues,
                mode: "lines",
                name: "Sticky Curve",
            };

            var trace2 = {
                x: xValues,
                y: yValues,
                mode: "lines",
                name: "y = -16.096x + 92.853",
            };

            var trace3 = {
                x: [{{f_min|safe}}, {{f_target|safe}}, {{f_max|safe}}],
                y: [{{tg_min|safe}}, {{tg_target|safe}}, {{tg_max|safe}}],
                mode: "markers",
                name: 'Tg',
            };

            var trace4 = {
                x: [{{f_min|safe}}, {{f_target|safe}}, {{f_max|safe}}],
                y: [spraydry_min, spraydry_target, spraydry_max],
                mode: "markers",
                name: 'Exhaust Temp',
                marker: {
                    symbol: 'triangle-up',
                    size: 12
                }
            };

            var xAxisAt30 = {
                type: 'line',
                x0: 0,
                x1: 1,
                xref: 'paper',
                y0: 30,
                y1: 30,
                line: {
                    color: 'black',
                    width: 1,
                }
            };

            var data = [trace1, trace2, trace3, trace4];
            const layout = {
                title: "G&T Simulation",
                yaxis: {
                    range: [30, 120],
                    title: "Onset Tg [°C]"
                },
                xaxis: {
                    title: "Water content [%]"
                },
            };

            // Display using Plotly
            Plotly.newPlot("myPlot", data, layout);
        </script>
    </div>
    <div class="col-12 col-md-8 mx-md-auto">
    <form method="POST">
        {% csrf_token %}
    <div class="table-responsive mt-5">
        <h3>Gordon-Taylor</h3>
        <table class="table table-hover table-bordered">
            <thead class="thead-light">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">a<sub>w</sub></th>
                    <th scope="col">W%</th>
                    <th scope="col">W%</th>
                    <th scope="col">Tg</th>
                    <th scope="col">Tg G&T</th>
                    <th scope="col">Spray Drying Exhaust Temp Target</th>
                    <th scope="col">SFB Upper Layer Powder Temp (Actual)</th>
                </tr>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">@25°C</th>
                    <th scope="col">[%wb]</th>
                    <th scope="col">[%ad]</th>
                    <th scope="col">[°C]</th>
                    <th scope="col">[°C]</th>
                    <th scope="col">[°C]</th>
                    <th scope="col">[°C]</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Min moisture</th>
                    <td><input type="number" step="0.001" name="aw_min" id="aw_min" value=0 required></td>
                    <td>{{ f_min }}</td>
                    <td>{{ f_min }}</td>
                    <td>{{ tg_min }}</td>
                    <td>{{ tg_gt_min }}</td>
                    <td><input type="number" step="0.001" name="spraydry_min" id="spraydry_min" value=0 required></td>
                    <td><input type="number" step="0.001" name="sfb_min" id="sfb_min" value=0 required></td>
                </tr>
                <tr>
                    <th scope="row">Target moisture</th>
                    <td><input type="number" step="0.001" name="aw_target" id="aw_target" value=0 required></td>
                    <td>{{ f_target }}</td>
                    <td>{{ f_target }}</td>
                    <td>{{ tg_target }}</td>
                    <td>{{ tg_gt_target }}</td>
                    <td><input type="number" step="0.001" name="spraydry_target" id="spraydry_target" value=0 required></td>
                    <td><input type="number" step="0.001" name="sfb_target" id="sfb_target" value=0 required></td>
                </tr>
                <tr>
                    <th scope="row">Max moisture</th>
                    <td><input type="number" step="0.001" name="aw_max" id="aw_max" value=0 required></td>
                    <td>{{ f_max }}</td>
                    <td>{{ f_max }}</td>
                    <td>{{ tg_max }}</td>
                    <td>{{ tg_gt_max }}</td>
                    <td><input type="number" step="0.001" name="spraydry_max" id="spraydry_max" value=0 required></td>
                    <td><input type="number" step="0.001" name="sfb_max" id="sfb_max" value=0 required></td>
                </tr>
                <tr>
                    <th scope="row">Actual (after sifter)</th>
                    <td><input type="number" step="0.001" name="aw_actual" id="aw_actual" value=0 required></td>
                    <td><input type="number" step="0.001" name="w_actual" id="w_actual" value=0 required></td>
                    <td>{{ tg_gt_actual }}</td>
                    <td><input type="number" step="0.001" name="tg_actual" id="tg_actual" value=0 required></td>
                    <td>{{ tg_gt_actual }}</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">Actual (after sifter sample)</th>
                    <td><input type="number" step="0.001" name="aw_sample" id="aw_sample" value=0 required></td>
                    <td><input type="number" step="0.001" name="w_sample" id="w_sample" value=0 required></td>
                    <td>{{ tg_gt_sample }}</td>
                    <td><input type="number" step="0.001" name="tg_sample" id="tg_sample" value=0 required></td>
                    <td>{{ tg_gt_sample }}</td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <input type="number" step="0.001" name="k" id="tg_k" placeholder="k" required>
        <input type="number" step="0.001" name="tg_dry" id="tg_dry" placeholder="tg dry" required>
        <button class="btn btn-primary" type="submit">Calculate</button>
    </div>
    </form>
</div>
<script>
    Vue.createApp()
</script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
{% endblock content %}

