<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Register
    </title>
    <link rel="stylesheet" href="https://bootswatch.com/5/sketchy/bootstrap.min.css">

</head>
<body>
    <div class="row mt-5">
		<div class="col-12 col-md-6 mx-md-auto">
			<h1>Register</h1>
			<form method="POST">
				{% csrf_token %}
				{{ registerform.as_p }}

				<button class="btn btn-primary" type="submit">Submit</button>
			</form>
		</div>
</body>
</html>